<accordion close-others="oneAtATime">
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
        <div ng-repeat="item in group.items">
            <div class="btn btn-primary" data-drag="true"
                 ng-click="changeConfigFile(item)"
                 data-jqyoui-options="{
                                revert: 'invalid',
                                appendTo: 'body',
                                containment: 'window',
                                helper: 'clone',
                                scroll: false
                             }"
                 jqyoui-draggable="{animate:true}">
                {{item.name}}
            </div>
        </div>
    </accordion-group>
</accordion>
