<div class="well well-lg container-fluid">
    <div ng-repeat="column in columns">
        <div ng-class="colClass">
            <div ng-repeat="field in column">
                <div class="config-switch-container"
                     ng-switch on="field.type">
                    <div class="config-switch" ng-switch-when="string">
                        <div class="row form-group">
                            <label class="control-label col-xs-4"><span translate>{{field.name}}</span>:</label>
                            <div class="col-xs-8">
                                <input class="form-control" ng-model="field.value"/>
                            </div>
                        </div>
                    </div>
                    <div class="config-switch" ng-switch-when="number">
                        <div class="row form-group">
                            <label class="control-label col-xs-4"><span translate>{{field.name}}</span>:</label>
                            <div class="col-xs-8">
                                <input kendo-numeric-text-box k-min="0" k-format="'0.'" k-ng-model="field.value"/>
                            </div>
                        </div>
                    </div>
                    <div class="animate-switch" ng-switch-default>{{field.type}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
