body{
    background-color: aliceblue;
}
#main {
}
#displayWindow{
    border-radius: 15px;
    border: 12px solid #262626;
}

.fullScreen{
    height: 100%;
    width: 100%;
}

#toolBar{
    padding: 3px 3px 3px 10px;
}
#componentsPanel{
    padding:0;
}
#middleApp{
    height: 100%;
}
.h100{
    height: 100%;
}
.angularContainer{
    height: 60%;
}
#displayWrapper{
    padding-right: 2px;
}
#componentsPanel{
    height: 100%;
    overflow-y: auto;
}
.redBkg{
    background-color: darkred;
}