body{
    background-color: aliceblue;
}
#main {
}
#displayWindow{
    border-radius: 15px;
    border: 12px solid #262626;
    float: left;
}

.fullScreen{
    height: 100%;
    width: 100%;
}
#toolBar{
    padding: 3px 3px 3px 10px;
}
#componentsPanel{
    padding: 0 0 0 5px;
}
#middleApp{
    height: 100%;
    white-space: nowrap;
}
.h100{
    height: 100%;
}
.angularContainer{
    height: 60%;
}
#displayWrapper{
    padding-right: 2px;
}
#componentsPanel{
    height: 100%;
    overflow-y: auto;
}
.redBkg{
    background-color: darkred;
}
.middleComponent {
    display:inline-block;
    white-space: normal;
}
.k-widget.k-numerictextbox{
    width: 100%;
}
.scrollableConfig{
    overflow-y: auto;
    height: 163px;
}
.submitted .ng-invalid{
    border: 1px solid red;
}
.scrollableModal{
    max-height: 300px;
    overflow-y: scroll;
}
.configHeader{
    color: #31708f;
    margin-top: 0;
    margin-bottom: 20px;
}
