body{
    background-color: aliceblue;
}
#main {
}
#displayWindow{
    border-radius: 15px;
    border: 12px solid #262626;
    float: left;
}
#canvasWrapper{
    text-align: center;
}
.fullScreen{
    height: 100%;
    width: 100%;
}
#toolBar{
    padding: 3px 3px 3px 10px;
}
#componentsPanel{
    padding: 0 0 0 5px;
}
#middleApp{
    height: 100%;
    white-space: nowrap;
}
.h100{
    height: 100%;
}
.angularContainer{
    height: 60%;
}
#displayWrapper{
    padding-right: 2px;
}
#componentsPanel{
    height: 100%;
    overflow-y: auto;
}
.redBkg{
    background-color: darkred;
}
.middleComponent {
    display:inline-block;
    white-space: normal;
}
.k-widget.k-numerictextbox{
    width: 100%;
}
.scrollableConfig{
    overflow-y: auto;
    height: 163px;
}
.submitted .ng-invalid{
    border: 1px solid red;
}
.scrollableModal{
    max-height: 300px;
    overflow-y: auto;
}
.configHeader{
    color: #31708f;
    margin-top: 0;
    margin-bottom: 20px;
}
.thumb {
    width: 32px;
    height: 32px;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
/* jrg-area-select */
.jrg-area-select-ele,
.jrg-area-select-blurred {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.jrg-area-select-blurred {
    position: absolute;
    background-color: black;
    opacity: .5;
    z-index: 999;
}
.inline {
    display: inline-block;
    margin:5px;
}
.collisionList{
    position: fixed;
    overflow: auto;
    width: 185px;
}
.config-switch{
    width: 380px;
    height: 40px;
}
.config-switch  .configInput{
    margin-left: 15px;
    margin-right: 15px;
}