<div class="modal-header">
    <h3 class="modal-title">Select collision box</h3>
</div>
<form name="areaSelectForm" ng-class="{'submitted': submitted}" ng-submit="submit(data)" >
    <div class="modal-body">
        <div>
        <div class="inline">
            <div ng-style="{ 'width' : width}" ng-mouseup="collisionBoxes.push(coords)">
                <div jrg-area-select coords='coords'>
                    <img ng-src="{{spriteSrc}}" class="spriteAreaSelect" alt="loading..."/>
                </div>
            </div>
        </div>
        <div class="inline collisionList" ng-style="{ 'height' : height}">
            dxcfgvhbjk
            <div ng-repeat="box in collisionBoxes track by $index">
                <div>
                    {{$index}}: [{{box.select.left}}, {{box.select.top}}, {{box.select.width}}, {{box.select.height}}]
                <button type="button" class="btn btn-xs btn-danger"
                        ng-if="$last"
                        ng-click="removeLast($index)">
                    <i class="glyphicon glyphicon-minus"></i>
                </button>
                    </div>
            </div>
        </div>
        </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            Save
        </button>
        <button type="button" class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
    </div>
</form>