<div class="modal-header">
    <h3 class="modal-title">Add new component</h3>
</div>
<form name="newComponentForm" ng-class="{'submitted': submitted}" ng-submit="add(model)" >
    <div class="modal-body scrollableModal">
        <div class="container-fluid">
            <div class="row form-group">
                <label class="control-label col-xs-2">Name:</label>
                <div class="col-xs-8">
                    <input ng-disabled="editMode" class="form-control" ng-model="model.name" required>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-xs-2">Type:</label>
                <div class="col-xs-8">
                    <select ng-model="model.type">
                        <option ng-repeat="type in types">{{type}}</option>
                    </select>
                </div>
            </div>
            <div class="config-switch-container"
                 ng-switch on="model.type">
                <div class="config-switch" ng-switch-when="list">
                    <div ng-repeat="val in model.values track by $index">
                        <div class="row form-group">
                            <label class="control-label col-xs-2">Option:</label>
                            <div class="col-xs-6">
                                <input class="form-control" ng-model="model.values[$index]"/>
                            </div>
                            <div ng-if="$index != 0" class="col-xs-1">
                                <button type="button" ng-click="model.values.splice($index, 1);" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-1" ng-if="$last">
                                <button type="button" class="btn btn-warning" ng-click="model.values.push('')">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="config-switch" ng-switch-when="string">
                    <div class="row form-group">
                        <label class="control-label col-xs-2">Value:</label>
                        <div class="col-xs-8">
                            <input class="form-control" ng-model="model.fieldValue"/>
                        </div>
                    </div>
                </div>
                <div class="config-switch" ng-switch-when="boolean">
                    <div class="row form-group">
                        <label class="control-label col-xs-2">Value:</label>
                        <div class="col-xs-8">
                            <input type="checkbox" ng-init="model.fieldValue = false" ng-model="model.fieldValue"/>
                        </div>
                    </div>
                </div>
                <div class="config-switch" ng-switch-when="number">
                    <div class="row form-group">
                        <label class="control-label col-xs-2">Value:</label>
                        <div class="col-xs-8">
                            <input type="number"
                                   ng-model="model.fieldValue"/>
                        </div>
                    </div>
                </div>
                <div class="config-switch" ng-switch-when="sprite">
                    <div class="row form-group">
                        <label class="control-label col-xs-2">Value:</label>
                        <input type="file" ngf-change="upload($files)" ngf-multiple='false' ngf-select='' ng-model='model.files' accept="image/*" name='file' required>
                        <img ng-show="model.files[0] != null" ngf-src="model.files[0]">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="submitted = true;">
            Add
        </button>
        <button type="button" class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
    </div>
</form>