<div class="modal-header">
    <h3 class="modal-title">{{data.title}}</h3>
</div>
<form name="newComponentForm" ng-class="{'submitted': submitted}" ng-submit="submit(data)" >
    <div class="modal-body scrollableModal">
        <div class="container-fluid">
            <div class="row form-group">
                <label class="control-label col-xs-2">{{data.label}}:</label>
                <div ng-switch="data.type">
                    <div ng-switch-when="list" class="col-xs-8">
                        <select ng-model="data.value" required>
                            <option ng-repeat="option in data.options">{{option}}</option>
                        </select>
                    </div>
                    <div ng-switch-when="text" class="col-xs-8">
                        <textarea focus-me="shouldBeOpen" class="form-control" ng-model="data.value" required/>
                    </div>
                    <div ng-switch-default="" class="col-xs-8">
                        <input focus-me="shouldBeOpen" class="form-control" ng-model="data.value" required/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="submitted = true;">
            Add
        </button>
        <button type="button" class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
    </div>
</form>