<div id="main" class="container-fluid" ng-class="{'h100': isResizable}">
    <div id="toolBar" edge-toolbar>
    </div>
    <div class="row" id="middleApp">
        <div class="col-xs-9" id="displayWrapper" ng-class="{'h100': isResizable}">
            <canvas width="500" height="500" id="displayWindow" edge-display ng-class="{'fullScreen': isResizable}">
                Unable to initialize WebGL. Your browser may not support it.
            </canvas>
        </div>
        <div id="componentsPanel" class="col-xs-3">
            <div edge-components></div>
        </div>
    </div>
    <div id="configPanel" collapse="isConfigPanelCollapsed">
        <div edge-config></div>
    </div>
</div>
