<div id="main" class="container-fluid" ng-class="{'h100': isResizable}">
    <div id="toolBar" edge-toolbar>
    </div>
    <div class="row" id="middleApp">
        <div class="col-xs-8" id="displayWrapper" ng-class="{'h100': isResizable}">
            <canvas ng-focus="displayFocused = true" class="middleComponent" width="{{canvasWidth}}" height="{{canvasHeight}}"
                    id="displayWindow" edge-display ng-class="{'fullScreen': isResizable}"
                    jqyoui-droppable="{
                        beforeDrop: 'dropComponent()',
                        multiple: true
                    }"
                    data-drop="true">
                Unable to initialize WebGL. Your browser may not support it.
            </canvas>
            <div class="middleComponent" id="componentsPanel" class="col-xs-3">
                <div edge-components></div>
            </div>
        </div>
        <div ng-if="blocklyStyle" class="col-xs-4" ng-style="blocklyStyle">
            <div id="blocklyDiv" style="height: 480px; width: 600px;"></div>
            <xml id="toolbox" style="display: none">
                <block type="controls_if"></block>
                <block type="controls_repeat_ext"></block>
                <block type="logic_compare"></block>
                <block type="math_number"></block>
                <block type="math_arithmetic"></block>
                <block type="text"></block>
                <block type="text_print"></block>
            </xml>
        </div>
    </div>
    <div id="configPanel" collapse="isConfigPanelCollapsed">
        <div edge-config></div>
    </div>
</div>
