<div id="main" class="container-fluid h100">
    <div id="toolBar">
        <button id="configPanelToggleBtn" class="btn btn-default btn-xs" ng-click="isConfigPanelCollapsed = !isConfigPanelCollapsed">
                    <span class="glyphicon"
                          ng-class="{
                            'glyphicon glyphicon-chevron-down': isConfigPanelCollapsed,
                            'glyphicon glyphicon-chevron-up': !isConfigPanelCollapsed
                          }"
                          aria-hidden="true"></span>
        </button>
    </div>
    <div class="row" id="middleApp">
        <div class="col-xs-9" id="displayWrapper">
            <div id="displayWindow">
                <h1>Main Window</h1>
                <p>{{data}}</p>
            </div>
        </div>
        <div id="componentsPanel" class="col-xs-3">
            <accordion close-others="oneAtATime">
                <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                    <div ng-repeat="item in group.items">
                        <div class="btn btn-primary" data-drag="true"
                             data-jqyoui-options="{
                                revert: 'invalid',
                                appendTo: 'body',
                                containment: 'window',
                                helper: 'clone',
                                scroll: false
                             }"
                             jqyoui-draggable="{animate:true}">
                            {{item}}
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div id="configPanel" collapse="isConfigPanelCollapsed">
        <div class="well well-lg">
            <div class="form-group has-success has-feedback">
                <label class="control-label" for="inputGroupSuccess1">Input group with success</label>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
                </div>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
            </div>
        </div>
    </div>
</div>